* {
    margin: 0;
    padding: 0;    
  }

body{
    font-family:'Inter', sans-serif;
    background-color: #E5E5E5;
    display: flex;    
}

header{    
    width: 18%;   
    background-color: #111111;
    border-radius: 0px 50px 0px 0px;
    padding: 45px 25px 45px 30px;
}

main{
    width: 100%; 
    padding: 35px 45px 15px; 
}

a{
    text-decoration: none;
  }

a:hover{
    color: #BABEC8;
    opacity: 0.6; 
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

h1{
    font-size: 28px;
    font-weight: 700;
    color:#111111;
}

.pageName{
    color:#FFFFFF;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}

li{
   color: #FFFFFF;
   font-size: 16px;
   font-weight: 600;
   padding: 15px 0px;
}

li span{
    font-size: 12px;
    font-weight: 500;
    color: #BABEC8;
}

li img{
    vertical-align: middle;
    margin-right: 10px;
}

.user-ava{
    float: left;
}

#activ{
    color: #BABEC8;
    opacity: 0.6;
    margin: 20px 0px;    
}

.nav-block{
    border-top: 1px solid #9598A0;
}

.nav-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;       
}

.cards-block{
    display: flex;
}

.addCard{
    box-sizing: border-box;
    border: 2px dashed #6B6F7B;
    border-radius: 12px;
    width: 310px;
    height: 178px;
    margin-top: 25px;
    text-align: center;
    padding-top: 53px;
}

.addCard p{
    color: #6B6F7B;
}

.filtres{
    display: flex;
    justify-content: space-between;
    gap: 10px    
}

.filter-button{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
    width: 157px;
    height: 40px;    
    text-align: center;
}

.filter-button:hover{
    border: 2px solid #6B6F7B;
}

.filter-button span{
    font-size: 14px;
    font-weight: 500;
    color: #313A4E;
    line-height: 40px;
    padding-left: 20px;
}

.filter-icon{
    width: 38px;
    border-left: 2px solid #D9D9D9;
    padding-top: 10px;
}

.hide{
    visibility: hidden;
    box-sizing: border-box;    
    width: 120px;
}

.search-button{
    position: relative;
}

.search-button input{
    box-sizing: border-box;    
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
    width: 160px;
    height: 40px;    
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #313A4E;    
    font-family:'Inter', sans-serif;    
}

.search-button img{
    position: absolute;
    top: 12px;
    left: 12px;    
}

.sort-block{
    box-sizing: border-box;    
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
    width: 157px;
    height: 40px;   
    font-size: 14px;
    font-weight: 500;
    color: #313A4E;    
    font-family:'Inter', sans-serif;
    padding-left: 20px;
}

.sorter option{
    color: #313A4E;    
    font-family:'Inter', sans-serif;        
}






.download{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #BABEC8;
    border: 1px solid #BABEC8;
    text-align: center;
    padding-top: 7px;
    
    
}

table{
    width: 100%;    
    border-radius: 30px;
    border-collapse: collapse;
    background-color: #FFFFFF;
    
}

thead{
    border-collapse: collapse;
    border-bottom: 2px solid #D9D9D9;
}

.under{
    font-size: 14px;
    color: #6B6F7B;
    font-weight: 600;
    vertical-align: text-top;
 }

.upline{
    color: #313A4E;
    font-size: 16px;
    font-weight: 600;
    vertical-align: bottom;
}

th{
    font-size: 18px;
    font-weight: 500;
    color:#6B6F7B;
}
.head-block{
    height: 75px;
    text-align: left;
}

.foot-block{
    height: 75px;
}

.upline, .under{
    height: 40px;
    padding: 3px 0px;
}
.dot{
    padding: 5px 25px 5px 5px;
}

.kvadro{
    padding: 5px 15px 5px 25px;
}

.kvadro input{
    height: 20px;
    width: 20px;
    border: 1px solid #E1E1E1;
}

.status{
    content: "\26AC";
    font-size: 16px;
    font-weight: 800;
    color: #17E383;
}

.status1{
    content: "\26AC";
    font-size: 16px;
    font-weight: 800;
    color: #FF9548;
}
.date{
    font-size: 16px;
    font-weight: 500;
    color: #313A4E;
}

.total{
    font-size: 20px;
    font-weight: 500;
    color: #313A4E;
}

.foot-block{
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px;
}

.footnum{
    width: 45px;
    height: 45px;
    border: 1px solid #6B6F7B;         
    border-radius: 48px;
    color: #313A4E;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    margin: 8px 8px;
}

    




